body {
    margin: 0;
    padding: 0;
}

.hide {
    display:none;
}

.big {
    font-size: 15px;
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.enter {
    height:25px;
    width:175px;
}

.steps, #theStatus { 
    font-weight: bold;
    font-size:125%;
}

#store {
    top: 0;
    text-align: center;
}

#logout {
    position:fixed;
    right:0;
    background-color:orange;
}

#email {
    font-size: 200%;
    text-align: center;
}

#searchBut, #viewFind {
    background-color:yellow;
}

#add, #addItem, #changePrice, #open {
    background-color: #4CAF50;
}

#edit, #find, #close {
    background-color: #f44336;
}

#menuText {
    font-size:200%;
    display:block;
    text-align: center;
    margin-bottom: 2vh;
    text-decoration: underline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}