/* Hides Scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

body{
    margin: 0;
    background-color: #212338;
    overflow-x: hidden;
}

/* Order Stuff */

#orderBox{
    width: 100vw;
    height: 100vh;
    color: orange;
    background-color: green;
    background-image: url("http://i.imgur.com/JTjy2Ofr.jpg");
}

#yourOrder{
    text-align: center;
}

#orderContainer{
    position: relative;
    width: 75vw;
    height: 80%;
    background-color: white;
    background-image: url(http://cindyspizza.com/wp-content/uploads/2014/01/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    vertical-align: middle;
}

#itemsContainer{
    width:29%;
    height: 40%;
    position: relative;
    display: inline-block;
    background-color: green;
    margin: 3% 2% 1% 2%;
}

#info{
    margin: auto;
    height: 20%;
    background-color: greenyellow;
    border: 1px black;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

#closeBut {
    float:right;
    bottom: 50px;
    left: 5%;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}

#foodPic{
    max-width: 100%;
    max-height: 80%;
    height: 80%;
}

/* Checkout section */
#bottom{
    text-align: center;
    background-image: url("http://i.imgur.com/JTjy2Ofr.jpg");
    background-position: center;
    color: royalblue;
    font-size: 24px;
}

#checkoutBut {
    background-color: #4CAF50;
    border: 2px solid #000000;
    color: white;
    padding: 15px 32px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#checkoutBut:hover {
    background-color: orange; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#checkoutBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Music */
#musicBox{
    display: block;
    visibility: hidden;
}