/* Hides Scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

body{
    margin: 0;
    background-color: #212338;
    overflow-x: hidden;
}

/* Order Stuff */
#orderBox{
    width: 100vw;
    height: 100vh;
    color: orange;
    background-image: url(https://media.starwars.ea.com/content/starwars-ea-com/en_US/starwars/battlefront/news-articles/creating-the-sounds-of-star-wars-battlefront/_jcr_content/body/image.img.jpg)
}

#yourOrder{
    text-align: center;
}

#orderContainer{
    position: relative;
    width: 85vw;
    height: 100%;
    background-color: white;
    background-image: url(http://cindyspizza.com/wp-content/uploads/2014/01/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    vertical-align: middle;
}

.itemsContainer{
    width:90%;
    height: 7%;
    position: relative;
    display: inline-block;
    background-color: green;
    margin: 1% 2% 0% 2%;
    border-radius: 10px;
    padding: 0.25%;
}

.info{
    height: 80%;
    width: 80%;
    background-color: greenyellow;
    border: 1px black;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.closeBut {
    float:right;
    top: 0;
    left: 1%;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}

.foodPic{
    max-width: 90%;
    max-height: 90%;
    height: 90%;
    border-radius: 10px;
    display: inline;
}

/* Checkout section */
#bottom{
    text-align: center;
    background-image: url("http://i.imgur.com/JTjy2Ofr.jpg");
    background-position: center;
    color: royalblue;
    font-size: 24px;
    padding-bottom: 100px;
}

#checkoutBut {
    background-color: #4CAF50;
    border: 2px solid #000000;
    color: white;
    padding: 15px 32px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#checkoutBut:hover {
    background-color: orange; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#checkoutBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Lightsaber Menu Thing */

#nav-container{
    position: absolute;
    top: 25%;
    left: 10%;
    margin:-3em;
}

/*toggle-icon*/
.toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}

.toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.2em;
    margin: 0.9em;
    border-right: 2.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}
.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}
.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*pushed*/
.pushed .toggle-icon {
    margin: -3.2em 0 0 0.7em;
}

.pushed .bar:nth-of-type(1) {
    opacity: 0;
}

.pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
}

.pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
}

/* The secret */
#secretButton{
    color: #212338;
    visibility: hidden;
}

/* Music */
#musicBox{
    display: block;
    visibility: hidden;
}

#muteBut{
    font-size: 10px;
    position: absolute;
    left: 100%;
}