/* This css file contains all styling for the .html pages, use CTRL+F

to find the segement you wish to see the css for.

ENTER THESE (left side) INTO YOUR 'Find' SEARCH BOX

    paraindex - parallax classes
    kitindex  - webkit classes
    bodyindex - body css
    homeindex - home.html
        top header - headerdiv
        bottom sec - homebottom
    menuindex - menu.html

*/

/*PARALLAX CSS <paraindex> */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__last{
    perspective: 1px;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__fg {
    transform: translateZ(0);
    z-index: 4;
}

.parallax__bg {
    transform: translateZ(-1px) scale(2);
    z-index: 2;
}

.parallax__deep {
    transform: translateZ(-2px) scale(3);
    z-index: 1;
    
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__group__menu {
  position: relative;
  height: 250vh;
  transform-style: preserve-3d;
}

.parallax__groupFiller {
    position: relative;
    height: 75vh;
    transform-style: preserve-3d;
}
.parallax__groupBottom {
    position: relative;
    height: 50vh;
    transform-style: preserve-3d;
}

/* WEBKIT TRANSFORM CLASSES <kitindex> */

.kit:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: ease-out 0.3s;
    background: #323449;
}

.kit:active{
    background: #54566B;
}

.scroll:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: ease-out 0.3s;
    background: azure;
}

.scroll:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease-out 0.1s;
    background:blue;
}

.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
}

.cartkit:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease-out 0.5s;
}

.foodChoice:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease-out 0.7s;
    background-color: darkorange;
}

.foodChoice:active {
/*
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
*/
    transition: ease-out 0.1s;
    background-color: orangered;
}

/* Hides Scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

/* START OF HOME.HTML STYLING <homeindex> */

/* <bodyindex> */
body{
    margin: 0;
    background-color: #212338;
    overflow-x: hidden;
}
#homeBg{
    background-color: #212338;
    height: 100vh;
    width: 100vw;
}
#parallaxBg{
    background: url(https://media.giphy.com/media/1lRrsraIsEYRW/giphy.gif); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

#parallaxBg2{
    background: url(http://i.imgur.com/wIx8ECX.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}
/*<headerdiv>*/
#homeHeader{
    width: 100vw;
    height: 75px;
    background-color: #212338;
    vertical-align: top;
    position: absolute;
    top:0;
    z-index: 5;
    opacity: 0.7;
    transition: 0.5s;
}

#homeHeader:hover{
    opacity: 1;
}

#homeLogo{
    height: 75px;
    width: 75px; 
    display: inline-block;
    float:left;
    transition: 0.5s;
    cursor: pointer;

}

#login{
    width: 55px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:315px;
    cursor: pointer;
    margin: 10px 0 0 10px; 
}

#logout{
    width: 55px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:315px;
    margin: 10px 0 0 10px; 
    cursor: pointer;
    visibility: hidden;
}

#profile{
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    top:0;
    right:220px;
    transition: 0.5s;
    margin: 10px 0 0 10px;
    cursor: pointer;

}
#support{
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    top:0;
    right:125px;
    transition: 0.5s;
    margin: 10px 0 0 10px;
    cursor: pointer;

}
#cart{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:50px;
    margin: 10px 0 0 10px;
    cursor: pointer;

}

/*Menu Section*/

#welcomeBanner{
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    top:40vh;
    z-index: 5;
    font: 400 6vw/1.3 'Oleo Script', Helvetica, sans-serif;
    color: yellow;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#menuScroller {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    top: 75vh;
    width: 125px;
    height: 50px;
    background-color: transparent;
    font: 400 2vw/1.3 'Oleo Script', Helvetica, sans-serif;
    color: yellow;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 6;
    cursor: pointer;


}

#specialsBanner{
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    height: 35vh;
    color: aliceblue;
    background-color: cornflowerblue;
    background: url(http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2015/11/pies.jpg);
    background-size: cover;
    position: absolute;
}

#menu{
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    top:35vh;
    background-color: yellow;
    background: url(http://2geekswhoeat.com/wp-content/uploads/2017/04/Rogue-One-Party-1.jpg);
    background-size: cover;
    position: absolute;
}

#sideBar{
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    width: 25vw;
    top:35vh;
    background-color:bisque;
    background: url(https://media1.giphy.com/media/knnN0jlDc1zVe/giphy.gif) no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: 20;
}

/* BOTTOM SECTION <homebottom>*/
.bio{
    margin: 0 0 0 16%;
    position: fixed;
}

.staff{
    width:50%;
    height:25%;
    text-align: left;
}

.staff2{
    width:50%;
    height:25%;
    text-align: right;
}

.staffPic{
    height: 125px;
    max-width: 125px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px azure;
    border-style: dotted;
    border-radius: 75px;
    left:-20;
    position: fixed;

}

#staffAbout{
    width: 100vw;
    height: 75vh;
    background-color: #212338;
    text-align: center;
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: azure;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 10;
}

#moham{
    margin:0 auto;
}

#frontEndTeam{
    position: relative;
    margin: 5%;
    
}
#backEndTeam{
    top:35%;
    position: relative;
    margin: 5%;
}

#bioStuff{
    
}

/* GROUPS */

#group2h{
    background-color: yellow;
    z-index: 500;
}

/* END OF HOME.HTML STYLING */

/* START OF MENU.HTML CSS <menuindex> */

 #menuBanner{
        background-image: url(http://imgur.com/7LnNmJ9.jpg);
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #menuQuote{
        text-align: center;
        vertical-align: middle;
        width: 50%;
        height: 300px;
        margin: 0 auto;
        top:45vh;
        z-index: 5;
        font: 400 6vw/1.3 'Oleo Script', Helvetica, sans-serif;
        color: black;
        text-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    }

    #menuBackdrop{
        background-image: url(http://imgur.com/kVSilfo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 150vh;
        z-index: 1;
    }

    #menuContainer{
        position: relative;
        width: 75vw;
        height: 150vh;
        background-image: url(http://cindyspizza.com/wp-content/uploads/2014/01/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        vertical-align: middle;
    }

    #optionSelectMenu{
        position: fixed;
        height: 30px;
        width: 75vw;
        z-index: 500;
        left:14%
    }

    .choiceButton{
        position: relative;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-color: orange;
        border: 2px black;
        border-style: solid;
        border-radius: 7px;
        font: 400 15px/1.3 'Oleo Script', Helvetica, sans-serif;
        color: white;
        text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
        height: 30px;
        width: 23%;
        transition: 0.2s;
    }

    #testDiv{
        width: 200px;
        height: 150px;
        margin: 25px;
        background-color: rgba(0,0,0,0.5);
        display: block;
        margin: 0 auto;
        color: azure;
    }

    #descDiv {
        font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
        z-index: 501;
    }

    #descDiv:hover{
        transition: ease-out 0.3s;
        color: orange;
        z-index: 500;
    }

    .menuDiv{
        width:18vw;
        height: 24vh;
        min-width: 200px;
        min-height: 150px;
        margin: 25px;
        background-color: rgba(0,0,0,0.5);
        color: azure;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
    }

    .menuDiv:hover{
        transition: ease-out 0.3s;
        background-color: rgba(100,100,100,0.7);
    }

    .menuImg {
        height: 75%;
        width: 75%;
        object-fit: contain;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
    }

    #testInfo{
        width: 95%;
        height: 50%;
        min-height: 400px;
        background-color: rgba(0,0,0,0.5);
        border: 2px black;
        border-radius: 25px;
        opacity: 0;
        display: block;
        margin: 25px auto;
        color: azure;
        text-align: center;
        font: 400 15px/1.3 'Oleo Script', Helvetica, sans-serif;
    }

    #leftContainer{
        width:60%;
        height: auto;
        position: relative;
        display: inline-block;
        margin: 25px;

    }

    #rightContainer{
        width:40%;
        height: 100%;
        position: absolute;
        display: inline-block;
        margin:25px;
        left: 55.5%;

    }
    #group1m{
        z-index: 500;
    }
