#mainbody{
    z-index: 1;
    font-family: monospace;
    padding:40px;
}

#OrderandCooked{
    background-color: black;
    color:white;
}

#RtoS{
    background-color: black;
    color: white;
    border: 5px;
}

#kitchenContainer{
    background-color: black;
    color: white;
    height:60vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
}


#itemsContainer{
    background-color: black;
    color: white;
    height:60vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
}



#readyToServe{
    background-color: black;
    color: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    height:220vh;
}
#cookedItems{
    background-color: black;
    color: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    height:220vh;
}

.itemButtons{
    margin-top:30px;
}