#mainbody{
    z-index: 1;
    font-family: monospace;
}

#OrderandCooked{
    background-color: black;
    color:white;
    border: 5px;
    border-style: solid;
    border-color: white;
}

#RtoS{
    background-color: black;
    color: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    height:80vh;
}

#kitchenContainer{
    background-color: black;
    color: white;
    height:50vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
}


#itemsContainer{
    background-color: black;
    color: white;
    height:50vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
}



#readyToServe{
    background-color: black;
    color: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    height:100%;
}
#cookedItems{
    background-color: black;
    color: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    height:100%;
}

.itemButtons{
    margin-top:30px;
}