/* Hides Scrollbar */ 
::-webkit-scrollbar { 
        display: none; 
    }

    body{
        margin: 0;
        background-color: #212338;
        overflow-x: hidden;
    }

    #randomBox {
        display:none;
    }

    #loginBut {
        background-color: #4CAF50; /* Green */
        border: 2px solid #0042FF; /* Blue */
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        transition-duration: 0.4s;
    }

    #loginBut:hover {
        background-color: #0042FF; /* Blue */
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    #loginBut:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }