/* Hides Scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

body{
    margin: 0;
    background-color: #212338;
    overflow-x: hidden;
}

/* Top Section */
/* NOTE: Is this necessary? It will just get it from homeStyle.css if this didnt exsist. Can we get rid of this??  Lines 14 - 72 in question. -Alex*/
#homeLogo{
    height: 75px;
    width: 75px; 
/*
    border : 1px solid;
    border-radius: 75px;
*/
    display: inline-block;
    float:left;
    transition: 0.5s;
}

#what{
    width: 55px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:220px;
    margin: 10px 0 0 10px; 

}

#support{
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    top:0;
    right:125px;
    transition: 0.5s;
    margin: 10px 0 0 10px;    
}
#cart{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:50px;
    margin: 10px 0 0 10px; 
}

/* Login Section */
#startBox{
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: orange;
    display:inline-block;
    position: relative;
    transition: 0.5s;
    background-image: url("http://cdn.wallpapersafari.com/78/50/g0uH6G.png");
}

#verticalBox{
    width: 30vw;
    height: 60vh;
    background-color: ghostwhite;
    border-radius: 100px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    transition-duration: 0.1s;
}

#loginBox{
    vertical-align: middle;
    width: 30vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#email{
    font-size: 18px;
}

#pass{
    font-size: 18px;
}

#loginBut {
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    padding: 15px 32px;
    position:relative;
    text-align: center;
    text-decoration: none;
    left: 0;
    right 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#loginBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#loginBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Register Below Section */


#regBelow{
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: orange;
    transition: 0.5s;
    vertical-align: middle;
    width: 30vw;
    height: 30vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}

#registerText{
    font-size: 20px;
}

.showBut{
    width: 100px;
    font-size: 20px;
    position: relative;
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.showBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.showBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Register Section */

.loginContainer{
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

#regBox{
    display: none;
}

#emailReg{
    font-size: 18px;
    width: 300px;
}

#genderSelect{
    font-size: 18px;
    width: 300px;
}

#planetSelect{
    font-size: 18px;
    width: 300px;
}

#passReg{
    font-size: 18px;
    width: 300px;
}


#submitBut{
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    padding: 15px 32px;
    position:relative;
    top:50%; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#submitBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#submitBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}