/* Hides Scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

body{
    margin: 0;
    background-color: #212338;
    overflow-x: hidden;
}

/* Top Section */

#homeLogo{
    height: 75px;
    width: 75px; 
/*
    border : 1px solid;
    border-radius: 75px;
*/
    display: inline-block;
    float:left;
    transition: 0.5s;
}

#what{
    width: 55px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:220px;
    margin: 10px 0 0 10px; 

}

#support{
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    top:0;
    right:125px;
    transition: 0.5s;
    margin: 10px 0 0 10px;    
}
#cart{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: aliceblue;
    display:inline-block;
    position: absolute;
    transition: 0.5s;
    top:0;
    right:50px;
    margin: 10px 0 0 10px; 
}

/* Login Section */
#startBox{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: orange;
    display:inline-block;
    position: relative;
    transition: 0.5s;
    top:100px;
    left:35vw;
    margin: 10px 0 0 10px; 
}

#email{
    font-size: 18px;
}

#pass{
    font-size: 18px;
}

#loginBut {
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    padding: 15px 32px;
    position:relative;
    top:50%; 
    left:100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#loginBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#loginBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Register Below Section */


#regBelow{
    width: 50vw;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px grey;
    color: orange;
    display:inline-block;
    position: relative;
    transition: 0.5s;
    right: 17vw;
    margin: 100px 0px 0px 0px;
}

#registerText{
    font-size: 20px;
}

#registerBut{
    width: 100px;
    font-size: 20px;
    position: relative;
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#registerBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#registerBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Register Section */

#regBox{
    position: relative;
    display: inline-block;
    margin: 70vh 0vh 70vh 0vh;
    right: 5vw;
}

#name{
    font-size: 18px;
    width: 300px;
}

#emailReg{
    font-size: 18px;
    width: 300px;
}

#genderSelect{
    font-size: 18px;
    width: 300px;
}

#planetSelect{
    font-size: 18px;
    width: 300px;
}

#bday{
    font-size: 18px;
    width: 300px;
}

#passReg{
    font-size: 18px;
    width: 300px;
}

#question{
    font-size: 18px;
    width: 300px;
}

#answer{
    font-size: 18px;
    width: 300px;
}

#submitBut{
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000; /* Blue */
    color: white;
    padding: 15px 32px;
    position:relative;
    top:50%; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#submitBut:hover {
    background-color: #0042FF; /* Blue */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submitBut:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}