body {
padding-top: 10%;
}

#orderReadyContainer{
    height:50vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
    color: white;
}

#ordersPreparedContainer{
    height:50vh;
    border: 5px;
    border-style: solid;
    border-color: white;
    display:inline-block;
    color: white;

}

#YOURORDER {
    color: white;
    text-align: center;
    font-size: 2vw;
}
.default{
    height:30vh;
    display:inline-block;
    color: white;
    margin: 1%;
    cursor: pointer;
}
