#profileBg{
    background: url(../pages/imgs/profile.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

#profileWelcome{
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    top:20vh;
    z-index: 5;
    font: 400 75px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: yellow;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#custInfo {
    text-align: left;
    vertical-align: left;
    top: 45vh;
    left: 4vw;
    background-color: transparent;
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: yellow;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 6;
}

#email, #gender, #locationText, #locationInfo{
    margin-left: 20px;
    font-size:125%;
}

#email {
    color: orange;
}

#gender{
    color: mediumpurple;
}

#locationText, #locationInfo{
    color: rosybrown;
}

.parallax__groupProfile{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.menuButton {
    border-radius: 10px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display:block;
}

.menuButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.menuButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.menuButton:hover span {
  padding-right: 25px;
}

.menuButton:hover span:after {
  opacity: 1;
  right: 0;
}

#accBox , #passBox {
    width: 75vw;
    height: 300px;
    position: absolute;
    top:1vh;
    left:20vw;
    color:white;
    display:none;
}

#accBox{
    background-color: skyblue;
}

#passBox{
    background-color: green;   
}

#title{
    text-align: center;
    font-size:200%;
    text-decoration: underline;
    color:skyblue;
}

#newPass, #confirmPass {
    float:right;
    height:40px;
    width:500px;
    margin-right:5vw;
    background-color:lightgrey;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: red;
    font-size: 150%;
}

#confirmBut {
    height:50px;
    float:right;
}

.confirmBut {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: royalblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.confirmBut:hover {background-color: royalblue}

.confirmBut:active {
  background-color: royalblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tab { 
    margin-left: 20px;
    font-size:125%;
    color:orange;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 3px solid red;
}

.tooltip .tooltiptext {
    margin-left:5vw;
    font-size:75%;
    visibility: hidden;
    width: 600px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}