/*PARALLAX CSS*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__last{
    perspective: 1px;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__fg {
    transform: translateZ(0);
    z-index: 4;
}
.parallax__bg {
    transform: translateZ(-1px) scale(2);
    z-index: 2;
}
.parallax__deep {
    transform: translateZ(-2px) scale(3);
    z-index: 1;
    
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__groupBottom {
    position: relative;
    height: 75vh;
    transform-style: preserve-3d;
}

/* WEBKIT TRANSFORM CLASSES*/

.kit:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: ease-out 0.3s;
    background: #323449;
}
.kit:active{
    background: #54566B;
}
.scroll:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: ease-out 0.3s;
    background: azure;
}
.scroll:active {
     background:blue;
}
.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
}
.cartkit:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease-out 0.5s;
}
